# for development, set NODE_ENV=development, for production, set NODE_ENV=production
NODE_ENV =

# discord bot token
BOT_TOKEN =
ADMIN_BOT_ID =

# log channel id for command usage logs
LOG_CHANNEL_ID =

# gemini
GEMINI_MODELS =
GEMINI_API_KEY =
GEMINI_API_KEY_FOR_SUMMARY =

# database
MONGO_URI =
